<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GTAO_PublicSessionBlocker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GTAO_PublicSessionBlocker.Properties.Settings>
            <setting name="BoundKey" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="UsingTimermode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlockingPort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TargetGame" serializeAs="String">
                <value>0</value>
            </setting>
        </GTAO_PublicSessionBlocker.Properties.Settings>
    </userSettings>
</configuration>